* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: cyan;
}

#image {
  margin-top: 50px;
  margin-bottom: 170px;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
}

.button {
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

footer {
  text-align: center;
  background-color: aliceblue;
  padding: 2px;
}

p {
  margin-bottom: 0;
}
